* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "coffe";
    src: url("../fonts/coffee_town/Coffee\ Town.ttf");
}

@font-face {
    font-family: "holen";
    src: url("../fonts/holen_vintage/Holen\ Vintage.otf");
}

body {
    font-family: "holen";
    width: 100%;
    height: 115vh;
}

.bg-container {
    background-image: url("../images/dark-coffee-background-hand-drawings-placed-left-side-banner_638892-1682.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.shopping-header {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    font-family: "coffe";
}

.shopping-header .search-form {
    background-color: #fff;
    border: 1px solid #444;
    border-radius: 15px;
    padding: 0 0 0 10px;
}

.shopping-header .search-form input,
.shopping-header .search-form button {
    background-color: transparent;
    outline: none;
}

.search-form button {
    width: 60px;
    height: 100%;
    padding: 3px;
    border-radius: 15px 0 0 15px;
    color: #4d3319;
}

.shopping-icon {
    position: relative;
}

.open-shopping {
    cursor: pointer;
}

.total-quantity {
    padding: 15px;
    position: absolute;
    left: -20px;
    top: -10px;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

nav {
    width: 1000px;
    margin: 40px auto;
    transition: .5s;
}

nav ul li button.category-value {
    border: none;
    width: 100px;
    text-align: center;
    font-size: 13px;
    border-radius: 20px;
    background-color: #FFEBCD;
    color: #4d3319;
    white-space: nowrap;
    padding: 10px;
}

nav ul li button.category-value.active {
    background-color: #4d3319;
    color: #FFEBCD;
}

.shoppingCart-container {
    width: 1000px;
    height: 100%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    transition: .5s;
}


.cart {
    width: 220px;
    height: 330px;
    border-radius: 15px 15px 0 0;
    background-color: #FFEBCD;
    overflow: hidden;
}

.cart-image {
    padding: 5px;
    overflow: hidden;
}

.cart .cart-image img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 15px;
}

.cart .cart-content {
    height: 70px;
    color: #444;
}

.cart .cart-content h6 {
    font-size: .9rem;
    border-radius: 25px;
    text-align: center;
    color: rgb(46, 37, 26);
}

.cart button.addToCart {
    background: linear-gradient(190deg, rgba(46, 37, 26, 1) 37%, rgb(115, 108, 79) 100%);
    color: #f6f6f6;
    border: none;
    outline: none;
    width: 100%;
    margin-inline: auto;
    padding: 10px;
}

/* categories */

.categories {
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #FFEBCD;
    width: 400px;
    height: 100vh;
    transition: .5s;
    background-image: url("../images/coffee-background-hand-drawings-light-beige-coffee-grains_638892-1669.jpg");
}

.categories .title-categories {
    color: #FFEBCD;
    background-color: #4d3319;
}

.liItem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4d3319;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 5px;
    font-size: .8em;
}

.liItem>div {
    font-weight: normal;
}

.product {
    width: 45%;
}

.price {
    width: 30%;
}

.quantity {
    width: 35%;
}

.cart-items {
    margin: auto 0;
    height: 450px;
    overflow-y: auto;
}

.cart-items::-webkit-scrollbar {
    display: none;
}

.cart-column img {
    width: 70px;
    height: 70px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 5px;
}

.cart-item-title {
    color: #4d3319;
}

.cart-item-price {
    width: 60px;
    text-align: center;
    color: #4d3319;
    background-color: #FFEBCD;
    border-radius: 18px;
    padding: 5px 15px;
}

.plus-btn,
.minus-btn {
    height: 20px;
    width: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: blue;
    color: #fff;
    border-radius: 50%;
    margin-inline: 10px;
    border: none;
}

.remove-item-btn {
    color: red;
    background-color: transparent;
    border: none;
    font-size: 1.3em;
}

.cart-quantity-span {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
}

.categories .checkout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    background-color: #4d3319;
    color: #FFEBCD;
}

.checkout div:nth-of-type(2) {
    background-color: #FFEBCD;
    color: #4d3319;
    cursor: pointer;
}

.active .categories {
    left: calc(100% - 400px);
}

.active .shoppingCart-container,
.active nav {
    transform: translateX(-100px);
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-container button {
    width: 40px;
    height: 40px;
    color: #4d3319;
    background-color: #FFEBCD;
    border: 1px solid #4d3319;
    border-radius: 5px;
    margin-inline: 2px;
}

.pagination-container button.active {
    background-color: #4d3319;
    color: #FFEBCD;
    opacity: 0.8;
}

.pagination-container span {
    color: #FFEBCD;
    font-size: 1.5rem;
    margin-inline: 5px;
    cursor: pointer;
}